service: kyler-bot
frameworkVersion: '>=1.28.0 <2.0.0'

provider:
  name: aws
  runtime: go1.x
  memorySize: 128
  stage: prod
  region: ap-southeast-1

package:
  exclude:
    - ./**
  include:
    - ./bin/**

functions:
  kylerbot:
    handler: bin/main
    events:
      - http:
          path: kylerbot
          method: post
